<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>object</key>
	<array>
		<string>您觉得洗手间是否干净整洁?</string>
		<string>您觉得餐饮品牌是否丰富？</string>
		<string>您觉得公共设施指示牌是否醒目？</string>
		<string>您对大厦的服务是否满意？</string>
		<string>您对大厦的服务是否满意？</string>
	</array>
</dict>
</plist>
